{% extends 'baseN.html' %}

{% load static %}
{% block content %}

<section class="py-3">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link">
                                <h4>All Avertise List</h4>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/postadver" class="btn btn-primary">Add New Post</a>
                        </li>
                    </ul>
                </div>


                <div class="table-responsive">
                    <table id="bootstrapdatatable" class="table table-striped table-bordered dt-responsive nowrap"
                        width="100%">

                        <thead>
                            <tr>
                                <!-- <th><input type="checkbox" id="checkall" /> </th> -->
                                <!-- <th>ID</th> -->
                                <th>Ad Title</th>
                                <th>Ad Details</th>
                                <th>Ad Category</th>
                                 <th>Available</th> 
                                <th>Size</th>
                                <th>Division</th>
                                <th>City</th>
                                <th>Locality</th>
                                <th>Deposit Taka</th>
                                <th>Monthly Rent</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in Advertise %}
                            <tr>
                                <!-- <td><input type="checkbox" class="checkthis" /></td> -->
                                <!-- <td>{{ i.id }}</td> -->
                                <td>{{ i.ad_title }}</td>
                                <td>{{ i.ad_detail }}</td>
                                <td>{{ i.ad_catagory}}</td>
                                <td>{{ i.available}}</td> 
                                <td>{{ i.size }}</td>
                                <td>{{ i.division}}</td>
                                <td>{{ i.city}}</td>
                                <td>{{ i.locality}}</td>
                                <td>{{ i.deposit_tk}}</td>
                                <td>{{ i.monthly_rent}}</td>
                                <td>
                                    <a href="{% url 'update' i.id %}" class="btn btn-outline-primary rounded-xl btn-xs">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                            </path>
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
                                            </path>
                                        </svg>
                                    </a>

                                    <a href="/delete/{{ i.id }}" class="btn btn-outline-danger rounded-xl btn-xs">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

</section>


<script type="text/javascript">
    $(document).ready(function () {
        $('#bootstrapdatatable').DataTable({
            "aLengthMenu": [[ 5, 10, 25, -1], [ 5, 10, 25, "All"]],
            "iDisplayLength": 5
        });
    });
</script>


{% endblock %}